<div class="site-footer">
      <div class="container">
        <div class="text-center">
          <p><b>Sabatora</b>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'ABOUT Sabatora', 'about.html' %>&nbsp;&bull;&nbsp;<%= link_to 'TRPG?', 'trpg.html' %>&nbsp;&bull;&nbsp;<%= link_to 'HELP', 'help.html' %>&nbsp;&bull;&nbsp;<%= link_to 'BLOG', 'blog.html' %>&nbsp;&bull;&nbsp;<%= link_to 'LINK', 'link.html' %></p>
        </div>
        <hr class="dashed" />
        <div class="row">
          <div class="col-md-4">
            <h3>Get involved</h3>
            <p>Bootflat is hosted on <a href="https://github.com/bootflat/bootflat.github.io" target="_blank" rel="external nofollow">GitHub</a> and open for everyone to contribute. Please give us some feedback and join the development!</p>
          </div>
          <div class="col-md-4">
            <h3>Contribute</h3>
            <p>You want to help us and participate in the development or the documentation? Just fork Bootflat on <a href="https://github.com/bootflat/bootflat.github.io" target="_blank" rel="external nofollow">GitHub</a> and send us a pull request.</p>
          </div>
          <div class="col-md-4">
            <h3>Found a bug?</h3>
            <p>Open a <a href="https://github.com/bootflat/bootflat.github.io/issues" target="_blank" rel="external nofollow">new issue</a> on GitHub. Please search for existing issues first and make sure to include all relevant information.</p>
          </div>
        </div>

        <hr class="dashed" />
        <div class="copyright text-center clearfix">
          <p>&copy; 2014 <a href="http://www.flathemes.com" target="_blank">FLATHEMES</a>, Inc. All rights reserved. &nbsp;&nbsp;Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank" rel="external nofollow">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" rel="external nofollow">CC BY 3.0</a>.</p>
        </div>
      </div>
    </div>