<div class="site-footer">
      <div class="container">
        <div class="text-center">
          <p><b>Sabatora</b>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'ABOUT Sabatora', 'about.html' %>&nbsp;&bull;&nbsp;<%= link_to 'TRPG?', 'trpg.html' %>&nbsp;&bull;&nbsp;<%= link_to 'HELP', 'help.html' %>&nbsp;&bull;&nbsp;<%= link_to 'BLOG', 'blog.html' %>&nbsp;&bull;&nbsp;<%= link_to 'LINK', 'link.html' %></p>
        </div>
        <hr class="dashed" />
        <div class="row">
          <div class="col-md-4">
            <h3>Let's Sabatora</h3>
            <p><a href="http://sabatora.herokuapp.com/" target="_blank" rel="external nofollow">こちら</a>からさばとらは始められます。まずはメンバー登録を！</p>
          </div>
          <div class="col-md-4">
            <h3>TRPGセッションのお知らせ</h3>
            <p>Twitterアカウント<a href="https://twitter.com/trpg7777">@trpg7777</a>より、Sabatoraを使ったテスト用セッションの募集ツイートを、時折させていただいています。よろしければご協力ください。</p>
          </div>
          <div class="col-md-4">
            <h3>ご意見・ご要望、バグの発見は</h3>
            <p>Twitterアカウント<a href="https://twitter.com/sabatora_dev" target="_blank" rel="external nofollow">@sabatora_dev</a>までご連絡ください。</p>
          </div>
        </div>

        <hr class="dashed" />
        <div class="copyright text-center clearfix">
          <p>&copy; 2014 <a href="http://www.flathemes.com" target="_blank">FLATHEMES</a>, Inc. All rights reserved. &nbsp;&nbsp;Code licensed under <a href="http://opensource.org/licenses/mit-license.html" target="_blank" rel="external nofollow">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" rel="external nofollow">CC BY 3.0</a>.</p>
        </div>
      </div>
    </div>